<a href="https://colab.research.google.com/github/carlosfab/curso_data_science_na_pratica/blob/master/introducao_ao_python/1_Vari%C3%A1veis_e_Tipos_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p><img alt="Colaboratory logo" width="10%" src="http://sigmoidal.ai/wp-content/uploads/2019/09/logo_sigmoidal_s.png" align="left" hspace="10px" vspace="0px"></p>

<h1>Introdução ao Python</h1>


Google Colab é um ambiente Jupyter notebook que roda inteiramente na nuvem. Ou seja, você consegue criar e rodar seus projetos de Data Science sem perder tempo configurando sua máquina local.

## Comentários

Comentários são códigos que não serão executados, mas servem para documentar o seu código. Imagine você fazer um script que tenha 200 linhas e tentar entender ele daqui a 6 meses.

Uma boa prática é sempre comentar de maneira que qualquer pessoa seja capaz de entender a lógica que você implementou.

Para comentar um pedaço do código, é só colocar o caráter `#` seguido do comentário.

In [0]:
# importar bibliotecas necessárias
import math

# declaração dos parâmetros do modelo
taxa_evaporacao = 0.05
var_aleatoria = 10.4

# otimização do modelo baseado nos parâmetros
resultado_otimo = var_aleatoria / (1 + math.exp(-taxa_evaporacao))

## Função print

Para "imprimir" uma variável na tela, usamos a função `print()`, passando a variável/valor desejado como argumento.

Por exemplo, vamos imprimir o resultado da célula anterior:

In [0]:
# imprimir o resultado ótimo
print(resultado_otimo)

5.329972923435788

Uma coisa que mesmo que programa há mais tempo desconhece, é que existem mais argumentos que podem ser passados dentro de `print`. Eu consigo definir:

* **value:** é o valor que você quer imprimir na tela (pode ser mais de um, desde que separados por vírgula)
* **sep:** é o que vai entre os valores passados (o padrão é um espaço em branco)
* **end:** após imprimir os valores, define o que vai acontecer no final da função `print` (o padrão é iniciar uma nova linha com `\n`)

In [0]:
# imprimir a lista de nomes com "->" separando eles
nomes = ["Carlos", "Melo", "Sigmoidal"]

print(*nomes, sep="->")

Carlos->Melo->Sigmoidal

## Tipos de variáveis


### Números

O interpretador do Python pode ser usado para fazer apenas contas simples. De maneira direta, você digita a expressão matemática, executa a célula e obtém o resultado.

Além das operações básicas como **somar** (+), **subtrair** (-), **multiplicar** (\*) e **dividir** (/), há duas outras bem importantes: **exponenciação** (\*\*) e **módulo** (%).

O sinal de igual (`=`) é usado para declarar uma variável. Ou seja, você cria uma relação entre um valor e um lugar na memória do computador.

Precedência...

In [0]:
# soma e subtração
print(10 + 4)
print(8 - 5)

10
0

In [0]:
# multiplicação e divisão
print(5 * 2)
print(15 / 3)

10
5.0

In [0]:
# exponenciação e módulo
print(2 ** 10)
print(5 % 2)

1024
1

**Exercício:** Imagine que você possui R$ 1000,00 para investir na poupança, com um retorno esperado de 5% ao ano. Calcule quando você vai receber em 8 anos.

In [0]:
print(1000 * (1.05)**8)

1477.455443789063

### Float vs. Int

Os números inteiros (como 5, 4, 33) são do tipo `int`, enquanto aqueles números que carregam uma parte fracional (como 5.5, 3.33, 3.14, 5.0) são do tipo `float`. No começo, lidar com tipos de números pode ser confuso, mas a prática vai fazer você entender.

Para saber o tipo de uma variável, você pode usar a função `type`.

In [0]:
type(5)  # aqui o 5 é um inteiro

int

In [0]:
type(5.0) # aqui o 5.0 é um float

float

In [0]:
pi = 3.14
type(pi)

float

In [0]:
# uma divisão SEMPRE vai retornar um float como resultado
print(type(3 / 3))
print(type(10.0 / 5))
print(type(10.0 / 2.0))

<class 'float'>
<class 'float'>
<class 'float'>

Existem momentos em que você vai querer converter um `float` em `int`. Isso pode ser feito com `int()`. O mesmo vale para a operação contrário, bastando indicar a variável dentro dos parênteses.

In [0]:
idade = 35.00
print(type(idade))

# converter
idade = int(idade)
print(type(idade))

<class 'float'>
<class 'int'>

Existe ainda uma opção quando eu quero realizar uma divisão, porém quero ficar apenas com a parte inteira de um número, descartando toda a parte fracionária. Essa operação pode ser feita usando `//`.

In [0]:
print(11 / 3)  # divisão normal com /
print(11 // 3) # divisão usando //

3.6666666666666665
3

### Strings

Outro tipo de variável que o Python manipula naturalmente são as strings. Você vai ver que o interpretador aceita tanto as aspas duplas (`"`) quanto as aspas simples (`'`).

In [0]:
"Exemplo de uma string"

'Exemplo de uma string'

In [0]:
nome = "Carlos Melo"
print(type(nome))

<class 'str'>

Existem alguns caráteres especiais usados para manipula as strings. Por exemplo, se você usar `\n` em uma string, você vai quebrar a linha exatamente nesse ponto. Caso você precise de tabulação para imprimir um resultado, pode inserir `\t` no seu código.

In [0]:
print("Bom dia,\nBem vindo ao blog Sigmoidal.")

Bom dia,
Bem vindo ao blog Sigmoidal.

In [0]:
# configuração dos parâmetros do modelo
alpha = 0.4123122
gama = 3.2223
num_iter = 10

# imprimir os parâmetros na tela
print("Parâmetros\n")
print("alpha:\t {:.2}".format(alpha))
print("gama:\t {:.2}".format(gama))
print("iter:\t {}".format(num_inter))

Parâmetros

alpha:	 0.41
gama:	 3.2
iter:	 10

### Bool

Esta é uma variável específica para representar Verdadeiro (True) ou Falso (False). São os únicos dois valores possíveis.

Por exemplo, vamos supor que no nosso banco de dados da empresa, existe um campo que indica se um cliente fez alguma compra no último mês.

In [1]:
comprou = False

if comprou:
  print("O cliente comprou no último mês")
else:
  print("O cliente não comprou no último mês")

O cliente não comprou no último mês

Também, pode servir para analisar expressões como a de baixo:

In [3]:
4 + 5 == 11

False

In [4]:
4 + 5 != 11

True